#logo {
    /* Indiquez les propriétés CSS ici */
}

.grand-texte {
    font-size: 30px;
}

.ma-classe {
    color: #663399;
}

balise1 {
    propriete1: valeur1;
    propriete2: valeur2;
    /* … */
}

h1,
p {
    /* J'en profite pour
    ajouter un commentaire
    sur plusieurs lignes */
    color: blue;
    font-size: 16px;
}

.elem1 {
    font-size: 1em;
}

.elem2 {
    font-size: 1.3em;
}

.elem3 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

balise {
    font-family: nom-police;
}

em {
    font-style: normal;
}

body {
    background-color: black;
    /* Le fond de la page sera noir */
    color: white;
    /* Le texte de la page sera blanc */
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    /*color: purple;*/
}

body {
    font-family: sans-serif;
    margin: 0;
    /* Vous ne connaissez pas encore cette propriété mais elle permet de s'assurer que nos éléments prennent bien toute la largeur de la page */
}

.banniere {
    padding: 100px;
    /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter de l'espace dans notre élément*/
    background-image: url('paysage.jpg');
    background: url("paysage.jpg") cover center;
}

h1 {
    color: white;
    text-align: center;
    border-left: 5px #187498 solid;
    font-size: 25px;
    background-color: skyblue;
    padding: 100px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0);
}

.element {
    border-top: 3px #EB5353 dotted;
    border-right: 3px #F9D923 double;
    border-bottom: 3px #36AE7C dashed;
    border-left: 3px #187498 solid;
    font-size: 25px;
    background-color: skyblue;
    padding: 100px;
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

#element {
    font-size: 25px;
    background-color: skyblue;
    border-radius: 10px;
    padding: 100px;
}

element {
    font-size: 25px;
    background-color: skyblue;
    border-radius: 10px 30px 0px 90px;
    padding: 100px;
}

h1 {
    font-size: 50px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 100px;
}